*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body{background-image: url(./Assets/coração.png);

}
            /* TEXT*/
.text{
  
    display: flex;
    border: red hidden 1px;   
    flex-direction: column;
    height: 10px;
    padding: 65px 10px 50px 20px;

}

 h1{
  font-size: 56px;
 }
    /* EndTEXT*/



     /*BOX*/
.box{
    width: 500px;
    height: 300px;
    background-color: #fffff3;
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 10px;
 
    box-shadow: -10px 15px 25px 0px black;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
}

        /*BUTTONS*/

        .buttons {
            display: flex;
            justify-content: space-evenly;
            top: 65%;
            position: absolute;
            width: 80%;
           
        }
        
        .yes { 
            
            font-size: 24px;
            border-style: hidden;
            width: 150px;
            height: 50px;
            background-color: #60e039;
             border-radius: 5px;
             
        }
        
        .no { 
            font-size: 24px;
            border-style: hidden;
            width: 150px;
            height: 50px;
            background-color: #e03939;
            border-radius: 5px;      
        }
        
        .answer{
        display: none;

        }

         .answer {
            border: red hidden 1px;   
            flex-direction: column;
            height: 10px;
            padding: 65px 10px 50px 20px;
            font-size: 56px;
            font-weight: bold;

        }

            /* Pulse Hearting*/
        .content-coracao {
            position: relative;
            display: flex;
            justify-content: center;
            width: 100px;
            margin: 5px auto;
            -webkit-animation: pulsa 1s linear 0s infinite;
          }
          @keyframes pulsa {
            0% {
              transform: scale(0.9) rotate(0deg);
            }
            50% {
              transform: scale(1) rotate(0deg);
            }
            70% {
              transform: scale(1.1) rotate(0deg);
            }
            80% {
              transform: scale(1.2) rotate(0deg);
            }
            100% {
              transform: scale(1) rotate(0deg);
            }
          }
          .square {
            transform: rotate(45deg);
            width: 50px;
            height: 50px;
            background: #e71940;
            position: absolute;
            top: 30px;
          }
          .circle:after,
          .circle:before {
            content: "";
            position: absolute;
            width: 54px;
            height: 55px;
            border-radius: 50%;
            background: #e71940;
          }
          .circle:after {
            left: 5px;
            top: 6px;
          }
          .circle:before {
            right: 5px;
            top: 6px;
          }
